h1{
    text-align: center;
}

.completeForm{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.completeForm input{
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
}